# IBM - Banks ETL Pipline

## Context

***Scenario:***<br>
You have been hired by research organization. You have been tasked to create a code that can be used to compile the list of the top 10 largest banks in the world ranked by market capitalization in billion USD. Further, the data needs to be transformed and stored in GBP, EUR and INR as well, in accordance with the exchange rate information. The processed information table is to be saved locally in a CSV format and as a database table.<br>
The task is to create an automated system to generate this information so that the same can be executed in every financial quarter to prepare the report.
<br>

**Task 1:**<br>
Write a function log_progress() to log the progress of the code at different stages in a file code_log.txt. Use the list of log points provided to create log entries as every stage of the code.
<br><br>
**Task 2:**<br>
Extract the tabular information from the given URL under the heading 'By market capitalization' and save it to a dataframe.
a. Inspect the webpage and identify the position and pattern of the tabular information in the HTML code
b. Write the code for a function extract() to perform the required data extraction.
c. Execute a function call to extract() to verify the output.
<br><br>
**Task 3:**<br>
Transform the dataframe by adding columns for Market Capitalization in GBP, EUR and INR, rounded to 2 decimal places, based on the exchange rate information shared as a CSV file.
a. Write the code for a function transform() to perform the said task.
b. Execute a function call to transform() and verify the output.
<br><br>
**Task 4:**<br>
Load the transformed dataframe to an output CSV file. Write a function load_to_csv(), execute a function call and verify the output.
<br><br>
**Task 5:**<br>
Load the transformed dataframe to an SQL database server as a table. Write a function load_to_db(), execute a function call and verify the output.
<br><br>
**Task 6:**<br>
Run queries on the database table. Write a function load_to_db(), execute a given set of queries and verify the output.
<br><br>
**Task 7:**<br>
Verify that the log entries have been completed at all stages by checking the contents of the file code_log.txt.

-------

## Set Up

In [15]:
# Import dependencies
import pandas as pd
import numpy as np
from datetime import datetime
import requests
import sqlite3
from bs4 import BeautifulSoup

In [ ]:
# Accessing the required data
# The below is the url where the exchange rate data can be found
# https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/exchange_rate.csv

# The below is the url where the 'largest banks' data can be found
# https://web.archive.org/web/20230908091635/https://en.wikipedia.org/wiki/List_of_largest_banks

## Task 1

In [16]:
def log_progress(message):
    ''' This function logs the mentioned message of a given stage of the
    code execution to a log file. Function returns nothing'''
    
    # Creating the current time and parsing into desired string format
    time_now = datetime.now().strftime('%Y-%h-%d-%H:%M:%S')
    
    # Append timestamp and message to process log file
    with open('code_log.txt', 'a') as file:
        file.write(f'{time_now} : {message}' + '\n')

In [17]:
# Creating the first log entry
log_progress("Preliminaries complete. Initiating ETL process")

## Task 2

In [30]:
# Requesting wiki web page
url = 'https://web.archive.org/web/20230908091635/https://en.wikipedia.org/wiki/List_of_largest_banks'
page = requests.get(url)

# Creating a soup object of the wiki page
soup = BeautifulSoup(page.text)

In [127]:
# Finding the required table
tables = soup.find_all('table')

market_cap_tb = tables[0]
market_cap_tb.find_all('tr')[10].find_all('td')[0].text

'10\n'

In [163]:
# Empty list to be populated with several other lists. Each of these lists will represent
# a row in the wiki table
extracted_data = []

# Iterate through each row in the market cap table and create an empty list
for row in market_cap_tb.find_all('tr'):
    extract_row = []
    
    # Iterate through each cell in the row and append the cell contents to a list
    for cell in row.find_all('td'):
        extract_row.append(cell.text[:-1]) # Each cell ends in "\n" so [:-1] will ignore the last two characters 
    
    # Append the list of cell contents to the extracted_data list
    extracted_data.append(extract_row)
        
    
extracted_data

[[],
 ['1', ' JPMorgan Chase', '432.92'],
 ['2', ' Bank of America', '231.52'],
 ['3', ' Industrial and Commercial Bank of China', '194.56'],
 ['4', ' Agricultural Bank of China', '160.68'],
 ['5', ' HDFC Bank', '157.91'],
 ['6', ' Wells Fargo', '155.87'],
 ['7', ' HSBC Holdings PLC', '148.90'],
 ['8', ' Morgan Stanley', '140.83'],
 ['9', ' China Construction Bank', '139.82'],
 ['10', ' Bank of China', '136.81']]

In [165]:
# As the first row of the wiki table contains table headers, "find_all('td')" will return empty
# This will replace the first empty list in 'extracted_data' with the table headers
table_headers = [header.text[:-1] for header in market_cap_tb.find_all('th')]
extracted_data[0] = table_headers
extracted_data

[['Rank', 'Bank name', 'Market cap(US$ billion)'],
 ['1', ' JPMorgan Chase', '432.92'],
 ['2', ' Bank of America', '231.52'],
 ['3', ' Industrial and Commercial Bank of China', '194.56'],
 ['4', ' Agricultural Bank of China', '160.68'],
 ['5', ' HDFC Bank', '157.91'],
 ['6', ' Wells Fargo', '155.87'],
 ['7', ' HSBC Holdings PLC', '148.90'],
 ['8', ' Morgan Stanley', '140.83'],
 ['9', ' China Construction Bank', '139.82'],
 ['10', ' Bank of China', '136.81']]

In [166]:
# Creating a pandas dataframe using extracted data
df = pd.DataFrame(extracted_data)

# Set first row as column names and drop that row
df.columns = df.loc[0, :]
df = df.drop(index=0)
df

0  Rank                                 Bank name Market cap(US$ billion)
1     1                            JPMorgan Chase                  432.92
2     2                           Bank of America                  231.52
3     3   Industrial and Commercial Bank of China                  194.56
4     4                Agricultural Bank of China                  160.68
5     5                                 HDFC Bank                  157.91
6     6                               Wells Fargo                  155.87
7     7                         HSBC Holdings PLC                  148.90
8     8                            Morgan Stanley                  140.83
9     9                   China Construction Bank                  139.82
10   10                             Bank of China                  136.81

In [ ]:
def extract(url, table_attribs):
    ''' This function aims to extract the required
    information from the website and save it to a data frame. The
    function returns the data frame for further processing. '''
    
    # ....
    
    
    return df

## Task 3

In [ ]:
def transform(df, csv_path):
    ''' This function accesses the CSV file for exchange rate
    information, and adds three columns to the data frame, each
    containing the transformed version of Market Cap column to
    respective currencies'''
    return df

## Task 4

In [ ]:
def load_to_csv(df, output_path):
    ''' This function saves the final data frame as a CSV file in
    the provided path. Function returns nothing.'''

## Task 5

In [ ]:
def load_to_db(df, sql_connection, table_name):
    ''' This function saves the final data frame to a database
    table with the provided name. Function returns nothing.'''

## Task 6

In [ ]:
def run_query(query_statement, sql_connection):
    ''' This function runs the query on the database table and
    prints the output on the terminal. Function returns nothing. '''

## Task 7

In [3]:
''' Here, you define the required entities and call the relevant
functions in the correct order to complete the project. Note that this
portion is not inside any function.'''

None